# 1. Import Library yang dibutuhkan

In [498]:
from sqlalchemy import create_engine, inspect
from dotenv import load_dotenv
import os
import pandas as pd

## 1.1 Connect to Database Backend

In [499]:
load_dotenv()

user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')
database = os.getenv('DB_NAME')

def get_connection():
    return create_engine(
        f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"
    )

def get_all_tables(engine):
    inspector = inspect(engine)
    return inspector.get_table_names()

def table_to_dataframe(engine, table_name):
    with engine.connect() as connection:
        query = f"SELECT * FROM {table_name}"
        result = connection.execute(query)
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
        return df

engine = get_connection()
print(f"Koneksi ke {host} untuk user {user} sukses dibuat!.")

Koneksi ke 104.198.27.207 untuk user dataengineer sukses dibuat!.

# 2. Extract

## 2.1 Convert Tables to Dataframe

In [500]:
tables = get_all_tables(engine)
print(f"Tables in the database: {tables}")

Tables in the database: ['admins', 'customize_watering_reminders', 'notifications', 'plant_categories', 'plant_characteristics', 'plant_faqs', 'plant_images', 'plant_instruction_categories', 'plant_instructions', 'plant_progresses', 'plant_reminders', 'plants', 'user_plant_histories', 'user_plants', 'users', 'watering_histories']

### 2.1.1 All Dataframe

In [501]:
output_dir = "../data_source_csv"

for table in tables:
    df_variable_name = f"df_{table}"
    globals()[df_variable_name] = table_to_dataframe(engine, table)
    print(f"Menampilkan Dataframe dari tabel: {table}")
    display(globals()[df_variable_name])
    
    csv_filename = os.path.join(output_dir, f"{table}.csv")
    globals()[df_variable_name].to_csv(csv_filename, index=False)
    print(f"Menyimpan Dataframe dari tabel {table} ke {csv_filename} \n")

Menampilkan Dataframe dari tabel: admins

,id,name,email,password,url_image,created_at,updated_at
0,1,Octaviano Ryan Eka Putra Hartanto,octavianoryan123@gmail.com,$2a$08$wAw9SfEDq6EsDZ7NqYpNnOXE6aV1GB3YUA3zWpT...,,2024-05-28 09:13:45.846,2024-05-28 09:13:45.846
1,2,Anggita Prameswari Darmawan,aprameswarid@gmail.com,$2a$08$MDwcRNb2SadCbSiUORr6H.QISr6j3ygPcGGhJTp...,,2024-06-03 03:25:41.667,2024-06-03 03:25:41.667
2,3,Anggita Darmawan,anggitadarmawan3@gmail.com,$2a$08$lFrhHW1q9rG/QmrTPeLy9OqQFZtwj/k72HfJ2oq...,,2024-06-05 01:27:30.592,2024-06-05 01:27:30.592
3,4,adminFe,adminfe123@gmail.com,$2a$08$OY4lskcKiJO7zldb.n5t2u7KHYtVBKt9zzR96Zq...,,2024-06-15 03:50:19.301,2024-06-15 03:50:19.301

Menyimpan Dataframe dari tabel admins ke ../data_source_csv/admins.csv

Menampilkan Dataframe dari tabel: customize_watering_reminders

   id  my_plant_id   time  recurring   type created_at updated_at
0   8          137  22:00          1  daily 2024-06-17 2024-06-17

Menyimpan Dataframe dari tabel customize_watering_reminders ke ../data_source_csv/customize_watering_reminders.csv

Menampilkan Dataframe dari tabel: notifications

,id,title,body,user_id,is_read,created_at,updated_at,plant_id
0,32,Saatnya meniram tanaman anda,Saatnya meniram tanaman anda,3,1,2024-06-17 00:00:00.000,2024-06-17 14:46:42.965,46
1,33,Customize Watering Reminder,"Hiii Octaviano Ryan Eka Putra Hartanto, It's t...",3,0,2024-06-17 15:00:00.880,2024-06-17 15:00:00.880,46

Menyimpan Dataframe dari tabel notifications ke ../data_source_csv/notifications.csv

Menampilkan Dataframe dari tabel: plant_categories

,id,name,image_url,created_at,updated_at
0,1,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-05-30 00:45:23.789,2024-06-14 02:51:56.957
1,2,Succulents,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28 10:00:00.000,2024-06-14 02:53:30.136
2,4,Angiosperms,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28 10:00:00.000,2024-06-14 02:53:50.500
3,5,Herbs,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28 10:00:00.000,2024-06-14 02:54:18.975
4,7,Shrubs,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28 10:00:00.000,2024-06-14 02:54:50.460
5,8,Ferns,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-07 07:07:57.671,2024-06-14 02:55:21.187
6,9,Trees,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-07 07:18:57.328,2024-06-14 02:56:14.506
7,10,Climbers,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-14 02:57:03.527,2024-06-14 02:57:03.527
8,11,Conifers,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-14 02:57:20.947,2024-06-14 02:57:20.947
9,12,Annual,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-14 02:57:33.736,2024-06-14 02:57:33.736
10,13,Biennals,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-14 02:57:46.294,2024-06-14 02:57:46.294
11,14,Bryophytes,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-14 02:57:57.152,2024-06-14 02:57:57.152
12,15,Perennials,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-14 02:58:08.940,2024-06-14 02:58:08.940

Menyimpan Dataframe dari tabel plant_categories ke ../data_source_csv/plant_categories.csv

Menampilkan Dataframe dari tabel: plant_characteristics

   id  plant_id  height height_unit  wide   wide_unit leaf_color
0  46        46     100  centimeter     5  centimeter      Green
1  55        55       1  Centimeter     1       Meter      Green
2  59        59       1  Centimeter     1       Meter      Green
3  61        61       3       Meter   300  Centimeter        Red

Menyimpan Dataframe dari tabel plant_characteristics ke ../data_source_csv/plant_characteristics.csv

Menampilkan Dataframe dari tabel: plant_faqs

,id,plant_id,question,answer,created_at,updated_at
0,61,46,Question 1,Answer 1,2024-06-15 15:22:02.784,2024-06-15 15:22:02.784
1,62,46,Question 2,Answer 2,2024-06-15 15:22:02.784,2024-06-15 15:22:02.784
2,69,55,<p>sdfsdfdd</p>,<p>sdfasdaaaaa</p>,2024-06-16 04:15:28.010,2024-06-16 04:15:28.010
3,73,59,<p>asdasdasd</p>,<p>asdassss</p>,2024-06-16 05:10:41.556,2024-06-16 05:10:41.556
4,76,61,<p><em>Mau tanya apa</em></p>,<p><em><u>Ya gatauu?</u></em></p>,2024-06-17 08:00:05.709,2024-06-17 08:00:05.709

Menyimpan Dataframe dari tabel plant_faqs ke ../data_source_csv/plant_faqs.csv

Menampilkan Dataframe dari tabel: plant_images

,id,plant_id,file_name,is_primary,created_at,updated_at
0,54,46,https://res.cloudinary.com/dxrz0cg5z/image/upl...,1,2024-06-15 15:22:02.784,2024-06-15 15:22:02.784
1,62,55,https://res.cloudinary.com/dxrz0cg5z/image/upl...,1,2024-06-16 04:15:28.010,2024-06-16 04:15:28.010
2,67,59,https://res.cloudinary.com/dxrz0cg5z/image/upl...,1,2024-06-16 05:10:41.556,2024-06-16 05:10:41.556
3,68,59,https://res.cloudinary.com/dxrz0cg5z/image/upl...,0,2024-06-16 05:10:41.556,2024-06-16 05:10:41.556
4,71,61,https://res.cloudinary.com/dxrz0cg5z/image/upl...,1,2024-06-17 08:00:05.709,2024-06-17 08:00:05.709
5,72,61,https://res.cloudinary.com/dxrz0cg5z/image/upl...,0,2024-06-17 08:00:05.709,2024-06-17 08:00:05.709

Menyimpan Dataframe dari tabel plant_images ke ../data_source_csv/plant_images.csv

Menampilkan Dataframe dari tabel: plant_instruction_categories

,id,name,description,image_url,created_at,updated_at
0,1,Soil Preparation,"In this section, you will learn how to properl...",https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28 10:00:00,2024-06-14 02:16:24.448
1,2,Planting Seeds,"At this stage, you will learn how to properly ...",https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28 10:00:00,2024-06-14 02:17:35.928
2,3,Plant Care,"In this section, you will learn how to properl...",https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28 10:00:00,2024-06-14 02:18:46.131
3,4,Harvest,"At this stage, you will learn how to harvest p...",https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28 10:00:00,2024-06-14 02:19:50.778

Menyimpan Dataframe dari tabel plant_instruction_categories ke ../data_source_csv/plant_instruction_categories.csv

Menampilkan Dataframe dari tabel: plant_instructions

,id,plant_id,step_number,step_title,step_description,step_image_url,additional_tips,created_at,updated_at,instruction_category_id
0,68,46,1,Instruction 1,Description of Instruction 1,https://res.cloudinary.com/dxrz0cg5z/image/upl...,None,2024-06-15 15:22:02.784,2024-06-15 15:22:02.784,1
1,69,46,2,Instruction 2,Description of Instruction 2,,None,2024-06-15 15:22:02.784,2024-06-15 15:22:02.784,2
2,81,55,1,asdasd,<p>asdasdsd</p>,https://res.cloudinary.com/dxrz0cg5z/image/upl...,None,2024-06-16 04:15:28.010,2024-06-16 04:15:28.010,2
3,82,55,2,dsffdsfsdf,<p>sdasdasd</p>,,None,2024-06-16 04:15:28.010,2024-06-16 04:15:28.010,3
4,89,59,1,asdasdas,<p>asdasdasd</p>,https://res.cloudinary.com/dxrz0cg5z/image/upl...,None,2024-06-16 05:10:41.556,2024-06-16 05:10:41.556,2
5,92,61,1,Apaya,<p><u>enaknya apa</u></p>,https://res.cloudinary.com/dxrz0cg5z/image/upl...,None,2024-06-17 08:00:05.709,2024-06-17 08:00:05.709,3

Menyimpan Dataframe dari tabel plant_instructions ke ../data_source_csv/plant_instructions.csv

Menampilkan Dataframe dari tabel: plant_progresses

,id,plant_id,user_id,image_url,created_at,updated_at
0,21,46,23,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 05:51:59.463,2024-06-16 05:51:59.463
1,22,55,14,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 08:40:12.494,2024-06-16 08:40:12.494

Menyimpan Dataframe dari tabel plant_progresses ke ../data_source_csv/plant_progresses.csv

Menampilkan Dataframe dari tabel: plant_reminders

,id,plant_id,watering_frequency,each,watering_amount,unit,watering_time,weather_condition,condition_description,created_at,updated_at
0,46,46,7,days,500,ml,09:00,Sunny,Water early in the morning when it's sunny,2024-06-15 15:22:02.791,2024-06-15 15:22:02.791
1,55,55,1,Week,1,Milliliter (ml),12:00,Rainy,asdasdss,2024-06-16 04:15:28.019,2024-06-16 04:15:28.019
2,59,59,1,Day,1,Liter (l),12:00,Rainy,asdasdasdasd,2024-06-16 05:10:41.563,2024-06-16 05:10:41.563
3,61,61,5,Week,300,Liter (l),16:30,"Bright Sun,Rainy,Stormy Rain","Sun,Rainy,Stormy",2024-06-17 08:00:05.718,2024-06-17 08:00:05.718

Menyimpan Dataframe dari tabel plant_reminders ke ../data_source_csv/plant_reminders.csv

Menampilkan Dataframe dari tabel: plants

,id,name,description,is_toxic,harvest_duration,sunlight,planting_time,plant_category_id,climate_condition,plant_characteristic_id,created_at,updated_at,additional_tips
0,46,Rose update,Rose is Flowers,1,90,Fullsun,Summer,1,Dry,0,2024-06-15 15:22:02.784,2024-06-15 15:22:02.784,Add tips instruction
1,55,asdasd-dsfdsdf,<p>asdasdsassd</p>,1,1,Fullsun,Summer,1,Dry,0,2024-06-16 04:15:28.010,2024-06-16 04:15:28.010,<p>fsdfsdddf</p>
2,59,asdaasd-sdasd,<p>asdasd</p>,1,3,Fullsun,Summer,1,Wet,0,2024-06-16 05:10:41.556,2024-06-16 05:10:41.556,<p>asdasdsdasd</p>
3,61,Rafflesia-Rafflesiaceae,<p>Bunga <strong>Langka</strong></p>,1,6,Partsun,Autumn,11,Wet,0,2024-06-17 08:00:05.709,2024-06-17 08:00:05.709,<p><strong><em><u>Tipsnya ya gituu</u></em></s...

Menyimpan Dataframe dari tabel plants ke ../data_source_csv/plants.csv

Menampilkan Dataframe dari tabel: user_plant_histories

,id,user_id,plant_id,plant_name,plant_category,plant_image_url,created_at,updated_at
0,2,3,46,Rose update,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-15 23:57:01.054,2024-06-15 23:57:01.054
1,3,14,46,Rose update,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 04:29:58.931,2024-06-16 04:29:58.931
2,4,14,55,asdasd-dsfdsdf,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 04:36:07.031,2024-06-16 04:36:07.031
3,5,14,55,asdasd-dsfdsdf,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 04:56:05.872,2024-06-16 04:56:05.872
4,6,14,46,Rose update,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 04:56:47.220,2024-06-16 04:56:47.220
5,7,14,55,asdasd-dsfdsdf,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 07:33:02.184,2024-06-16 07:33:02.184
6,8,14,59,asdaasd-sdasd,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 08:10:30.869,2024-06-16 08:10:30.869
7,9,14,46,Rose update,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 08:33:58.143,2024-06-16 08:33:58.143
8,10,14,55,asdasd-dsfdsdf,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 08:36:24.144,2024-06-16 08:36:24.144
9,11,14,46,Rose update,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 08:38:36.573,2024-06-16 08:38:36.573
10,12,14,55,asdasd-dsfdsdf,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 08:57:05.935,2024-06-16 08:57:05.935
11,13,14,46,Rose update,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 09:39:53.333,2024-06-16 09:39:53.333
12,14,14,46,Rose update,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 09:41:49.378,2024-06-16 09:41:49.378
13,15,14,59,asdaasd-sdasd,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 09:56:38.963,2024-06-16 09:56:38.963
14,16,14,55,asdasd-dsfdsdf,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 10:53:20.200,2024-06-16 10:53:20.200
15,17,18,46,Rose update,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 11:31:45.458,2024-06-16 11:31:45.458
16,18,18,55,asdasd-dsfdsdf,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 11:34:16.193,2024-06-16 11:34:16.193
17,19,14,46,Rose update,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-16 12:21:05.912,2024-06-16 12:21:05.912

Menyimpan Dataframe dari tabel user_plant_histories ke ../data_source_csv/user_plant_histories.csv

Menampilkan Dataframe dari tabel: user_plants

,id,user_id,plant_id,created_at,updated_at,last_watered_at,customize_name
0,109,17,46,2024-06-15 15:33:55.379,2024-06-15 15:33:55.379,None,Rose update
1,123,23,46,2024-06-16 05:51:30.271,2024-06-16 05:51:30.271,None,Rose update
2,133,14,55,2024-06-16 10:53:19.495,2024-06-16 10:53:19.495,None,asdasd-dsfdsdf
3,136,14,46,2024-06-16 12:21:05.281,2024-06-16 12:21:05.281,None,Rose update
4,137,3,46,2024-06-17 00:00:00.000,2024-06-17 00:00:00.000,None,None

Menyimpan Dataframe dari tabel user_plants ke ../data_source_csv/user_plants.csv

Menampilkan Dataframe dari tabel: users

,id,name,email,password,is_active,otp,url_image,created_at,updated_at,fcm_token
0,3,Octaviano Ryan Eka Putra Hartanto,octavianoryan030@gmail.com,$2a$08$R9/7B15r6CgnfHhTEvW3o.qDQtB61Vmw2WxL8OQ...,1,986482,,2024-05-28 09:08:58.892,2024-05-28 09:08:58.892,
1,5,Setiabudi,mamansetiabudi12061982@gmail.com,$2a$08$ur/09YUT0MI2s5CvTcKNWOz29g73ZbaIaa7mdti...,1,364170,,2024-06-04 06:02:55.224,2024-06-04 06:02:55.224,None
2,6,Aletha Safa,yellowblue@gmail.com,$2a$08$kRWcnKu27ojUmST7WqB17.OZYKI1En2MYHFVtMg...,0,486315,,2024-06-05 05:50:35.189,2024-06-05 05:50:35.189,None
3,7,Valdimir Putin,kangkingkung79@gmail.com,$2a$08$8TlhkfNRNocMnI1RAs1gXuQXZomO1ILgP8vQVbn...,1,714585,,2024-06-05 12:25:47.200,2024-06-05 12:25:47.200,092013
4,9,Aletha Safa,yellow3@gmail.com,$2a$08$0MeHpb3QgFnL51BfR7YZEu8MyBgs050e2K3plFL...,0,870521,,2024-06-06 14:49:11.846,2024-06-06 14:49:11.846,092013
5,10,Aletha Safa,blue04@gmail.com,$2a$08$Y6QSW6XzuXdouaX7krSLEuYXimEGEhURjVBaAzp...,0,841146,,2024-06-06 15:41:47.729,2024-06-06 15:41:47.729,092013
6,11,Aletha Safa,blue05@gmail.com,$2a$08$p2RCU3u8YgiHG8oiuPFcze2DYhAMXSYppX88bfW...,0,229096,,2024-06-06 15:43:39.360,2024-06-06 15:43:39.360,092013
7,12,Aletha Safa,blue06@gmail.com,$2a$08$tqSwo4MtjhOFNYgmta8x3.2Esa4fnkEDFgK7SiH...,0,853420,,2024-06-07 03:59:48.264,2024-06-07 03:59:48.264,092013
8,14,Dafa Aldian,dafaaldian155@gmail.com,$2a$08$igkmrN4.3Uwe8TjnX8uYhuKfhhKRc7QyQsGk0PN...,1,290925,,2024-06-09 15:31:59.073,2024-06-09 15:31:59.073,fowtobnNSrGVOH_a3KOzMa:APA91bH9lp6Rbws3oI6Hngz...
9,15,Annisa,annisa@gmail.com,$2a$08$43fz/1GQXWmR7oEyDAW/6.3NIXE9jFD/dTyW12o...,0,122927,,2024-06-09 16:26:37.421,2024-06-09 16:26:37.421,dI2YkfWPS0eEaTsSNfgDYZ:APA91bFYX3YZVIDzbad7_yR...
10,16,Annisa,nuranisaseptriza@gmail.com,$2a$08$QYxnM23KsjutYEr7kOWfH.hY3NvlEoet2OHeZmG...,0,584488,,2024-06-09 16:28:00.616,2024-06-09 16:28:00.616,dI2YkfWPS0eEaTsSNfgDYZ:APA91bH-0Zt6ZGzDrs4jwQJ...
11,17,annisa,cachakim60@gmail.com,$2a$08$kM1OqaOqByL.cg3/1pQdf.mXL8m/YQtEKcdykb1...,1,391665,,2024-06-09 16:48:17.468,2024-06-09 16:48:17.468,doJ88506SwG4QZEobLFgAX:APA91bEsTPBzttf6J4ZxMnG...
12,18,rizkyyy,rizkynugroho2901@gmail.com,$2a$08$w3ClYUy/0G5L3A2gybFqS.hqkfoBCpSkrBu75rt...,1,024697,,2024-06-09 18:19:56.379,2024-06-09 18:19:56.379,fQIg2bhIQbOVMTJWYQqUZ2:APA91bEdgL-7T8PZufjo63Y...
13,19,rizky,not1ntrovert@gmail.com,$2a$08$zKvuMtZU28JAwAWGwtcNleACN7EdiHwa4DkEwz9...,0,446995,,2024-06-10 12:50:55.424,2024-06-10 12:50:55.424,dH_c2I-PSiilsZsWbIqsvV:APA91bE4CJyKvFYT7XJ1pxb...
14,20,rizky,not1ntrovertfps@gmail.com,$2a$08$FoMZ.avhfDTfc4/mKSJQuObqKO/Swh3Bw6AJRgq...,1,149558,,2024-06-10 12:51:48.812,2024-06-10 12:51:48.812,dH_c2I-PSiilsZsWbIqsvV:APA91bHYcZEhXgk-SJZQ-w0...
15,21,developer,gamerproind20@gmail.com,$2a$08$Wwh9yEcJs9og0IR8OELRseN1eJHSC1qmXJvUsZt...,1,122952,,2024-06-12 15:55:46.000,2024-06-12 15:55:46.000,dH_c2I-PSiilsZsWbIqsvV:APA91bFSrvn1Ok1eYpAVUlp...
16,22,salkia,Salkiaagustien13@gmail.com,$2a$08$gyIVrruUitDWRMD6nE7NrOJT8S62LDrJwVjV.P1...,0,117431,,2024-06-13 15:22:05.528,2024-06-13 15:22:05.528,enYsCpA4SyCfztWDhjcv1g:APA91bFDdtlOp9MifpsiTrc...
17,23,farhan,zuwiy10@gmail.com,$2a$08$XvDFeWb16T/AjcruuYALYO3SVddNmnCoDLhbfq3...,1,046197,,2024-06-13 18:03:48.532,2024-06-13 18:03:48.532,dF9WdTr0QmmIPpYVbxLjZJ:APA91bECbPFLP9dFrsoDLH7...
18,24,salkia,agustiensalkia@gmail.com,$2a$08$aiLIq8RNH5Q0.MnLflhnguB3YRTW2v7e/SIRPVr...,0,345559,,2024-06-16 10:44:18.862,2024-06-16 10:44:18.862,enYsCpA4SyCfztWDhjcv1g:APA91bG4ox9yyUzwYPn5-dc...

Menyimpan Dataframe dari tabel users ke ../data_source_csv/users.csv

Menampilkan Dataframe dari tabel: watering_histories

   id  plant_id  user_id              created_at              updated_at
0   4        46        3 2024-06-16 00:21:28.425 2024-06-16 00:21:28.425
1   5        46       14 2024-06-16 07:17:08.217 2024-06-16 07:17:08.217

Menyimpan Dataframe dari tabel watering_histories ke ../data_source_csv/watering_histories.csv

# 3. Transform

## 3.1 Cleaning Data

In [615]:
def cleanse_dataframe(df):
    print("Memeriksa missing values...")
    
    # Mengisi missing values berdasarkan tipe data kolom
    for col in df.columns:
        if df[col].isnull().any():
            if df[col].dtype == 'int64' or df[col].dtype == 'float64':
                print(f"Mengisi missing values di kolom '{col}' dengan 0...")
                df[col].fillna(0, inplace=True)
            elif df[col].dtype == 'object' or df[col].dtype.name == 'category':
                print(f"Mengisi missing values di kolom '{col}' dengan '-'...")
                df[col].fillna('-', inplace=True)
            elif pd.api.types.is_datetime64_any_dtype(df[col]):
                print(f"Mengisi missing values di kolom '{col}' dengan tanggal hari ini...")
                df[col].fillna(pd.Timestamp('today'), inplace=True)
    
    print("Memeriksa duplikasi...")
    duplicate_rows = df.duplicated().sum()
    print(f"Jumlah baris duplikat: {duplicate_rows}")
    
    if duplicate_rows > 0:
        print("Menghapus baris duplikat...")
        df.drop_duplicates(inplace=True)
    
    return df

In [620]:
def cleanse_dataframe_fact(df):
    print("Memeriksa missing values...")
    
    # Mengisi missing values berdasarkan tipe data kolom
    for col in df.columns:
        if df[col].isnull().any():
            if df[col].dtype == 'int64' or df[col].dtype == 'float64':
                print(f"Mengisi missing values di kolom '{col}' dengan -1...")
                df[col].fillna(-1, inplace=True)
    
    return df

In [503]:
for table in tables:
    df_variable_name = f"df_{table}"
    
    # Cleansing DataFrame
    globals()[df_variable_name] = cleanse_dataframe(globals()[df_variable_name])

Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Mengisi missing values di kolom 'additional_tips' dengan '-'...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Mengisi missing values di kolom 'last_watered_at' dengan '-'...
Mengisi missing values di kolom 'customize_name' dengan '-'...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Mengisi missing values di kolom 'fcm_token' dengan '-'...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0

/tmp/ipykernel_756/2798709421.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna('-', inplace=True)

## 3.2 Informasi Dataframe

In [504]:
def info_dataframe(df):
    print("Menampilkan Informasi Field di tiap Dataframe")
    info_dataframe = df.info()
    print(info_dataframe)
    
    return df

In [505]:
for table in tables:
    df_variable_name = f"df_{table}"
    
    # Informasi DataFrame
    globals()[df_variable_name] = info_dataframe(globals()[df_variable_name])

Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4 non-null      int64
 1   name        4 non-null      object
 2   email       4 non-null      object
 3   password    4 non-null      object
 4   url_image   4 non-null      object
 5   created_at  4 non-null      datetime64[ns]
 6   updated_at  4 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 352.0+ bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1 non-null      int64
 1   my_plant_id  1 non-null      int64
 2   time         1 non-null      object
 3   recurring    1 non-null      int64
 4   type         1 non-null      object
 5   created_at   1 non-null      datetime64[ns]
 6   updated_at   1 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(2)
memory usage: 184.0+ bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          2 non-null      int64
 1   title       2 non-null      object
 2   body        2 non-null      object
 3   user_id     2 non-null      int64
 4   is_read     2 non-null      int64
 5   created_at  2 non-null      datetime64[ns]
 6   updated_at  2 non-null      datetime64[ns]
 7   plant_id    2 non-null      int64
dtypes: datetime64[ns](2), int64(4), object(2)
memory usage: 256.0+ bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          13 non-null     int64
 1   name        13 non-null     object
 2   image_url   13 non-null     object
 3   created_at  13 non-null     datetime64[ns]
 4   updated_at  13 non-null     datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 648.0+ bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           4 non-null      int64
 1   plant_id     4 non-null      int64
 2   height       4 non-null      int64
 3   height_unit  4 non-null      object
 4   wide         4 non-null      int64
 5   wide_unit    4 non-null      object
 6   leaf_color   4 non-null      object
dtypes: int64(4), object(3)
memory usage: 352.0+ bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          5 non-null      int64
 1   plant_id    5 non-null      int64
 2   question    5 non-null      object
 3   answer      5 non-null      object
 4   created_at  5 non-null      datetime64[ns]
 5   updated_at  5 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(2)
memory usage: 368.0+ bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          6 non-null      int64
 1   plant_id    6 non-null      int64
 2   file_name   6 non-null      object
 3   is_primary  6 non-null      int64
 4   created_at  6 non-null      datetime64[ns]
 5   updated_at  6 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(1)
memory usage: 416.0+ bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           4 non-null      int64
 1   name         4 non-null      object
 2   description  4 non-null      object
 3   image_url    4 non-null      object
 4   created_at   4 non-null      datetime64[ns]
 5   updated_at   4 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 320.0+ bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       6 non-null      int64
 1   plant_id                 6 non-null      int64
 2   step_number              6 non-null      int64
 3   step_title               6 non-null      object
 4   step_description         6 non-null      object
 5   step_image_url           6 non-null      object
 6   additional_tips          6 non-null      object
 7   created_at               6 non-null      datetime64[ns]
 8   updated_at               6 non-null      datetime64[ns]
 9   instruction_category_id  6 non-null      int64
dtypes: datetime64[ns](2), int64(4), object(4)
memory usage: 608.0+ bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          2 non-null      int64
 1   plant_id    2 non-null      int64
 2   user_id     2 non-null      int64
 3   image_url   2 non-null      object
 4   created_at  2 non-null      datetime64[ns]
 5   updated_at  2 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(1)
memory usage: 224.0+ bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     4 non-null      int64
 1   plant_id               4 non-null      int64
 2   watering_frequency     4 non-null      int64
 3   each                   4 non-null      object
 4   watering_amount        4 non-null      int64
 5   unit                   4 non-null      object
 6   watering_time          4 non-null      object
 7   weather_condition      4 non-null      object
 8   condition_description  4 non-null      object
 9   created_at             4 non-null      datetime64[ns]
 10  updated_at             4 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(4), object(5)
memory usage: 480.0+ bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       4 non-null      int64
 1   name                     4 non-null      object
 2   description              4 non-null      object
 3   is_toxic                 4 non-null      int64
 4   harvest_duration         4 non-null      int64
 5   sunlight                 4 non-null      object
 6   planting_time            4 non-null      object
 7   plant_category_id        4 non-null      int64
 8   climate_condition        4 non-null      object
 9   plant_characteristic_id  4 non-null      int64
 10  created_at               4 non-null      datetime64[ns]
 11  updated_at               4 non-null      datetime64[ns]
 12  additional_tips          4 non-null      object
dtypes: datetime64[ns](2), int64(5), object(6)
memory usage: 544.0+ bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               18 non-null     int64
 1   user_id          18 non-null     int64
 2   plant_id         18 non-null     int64
 3   plant_name       18 non-null     object
 4   plant_category   18 non-null     object
 5   plant_image_url  18 non-null     object
 6   created_at       18 non-null     datetime64[ns]
 7   updated_at       18 non-null     datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 1.2+ KB
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               5 non-null      int64
 1   user_id          5 non-null      int64
 2   plant_id         5 non-null      int64
 3   created_at       5 non-null      datetime64[ns]
 4   updated_at       5 non-null      datetime64[ns]
 5   last_watered_at  5 non-null      object
 6   customize_name   5 non-null      object
dtypes: datetime64[ns](2), int64(3), object(2)
memory usage: 408.0+ bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          19 non-null     int64
 1   name        19 non-null     object
 2   email       19 non-null     object
 3   password    19 non-null     object
 4   is_active   19 non-null     int64
 5   otp         19 non-null     object
 6   url_image   19 non-null     object
 7   created_at  19 non-null     datetime64[ns]
 8   updated_at  19 non-null     datetime64[ns]
 9   fcm_token   19 non-null     object
dtypes: datetime64[ns](2), int64(2), object(6)
memory usage: 1.6+ KB
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          2 non-null      int64
 1   plant_id    2 non-null      int64
 2   user_id     2 non-null      int64
 3   created_at  2 non-null      datetime64[ns]
 4   updated_at  2 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(3)
memory usage: 208.0 bytes
None

## 3.3 Change Type Data

In [610]:
def change_type_data(df):
    # Memastikan tipe data yang benar
    print(f"Memastikan tipe data yang benar...")
    for column in df.columns:
        if df[column].dtype == 'object':
            df[column] = df[column].astype('category')
        elif df[column].dtype == 'float64':
            df[column] = df[column].astype('int64')
        elif pd.api.types.is_datetime64_any_dtype(df[column]):
            df[column] = df[column].dt.strftime('%Y-%m-%d')
            df[column] = pd.to_datetime(df[column], format='%Y-%m-%d')
    
    return df

In [507]:
dataframes = []  # List untuk menyimpan nama dataframe

for table in tables:
    df_variable_name = f"df_{table}"
    
    # Cleansing DataFrame
    globals()[df_variable_name] = change_type_data(globals()[df_variable_name])
    
    # Tambahkan nama dataframe ke dalam list
    dataframes.append(df_variable_name)

# Output untuk verifikasi
print(dataframes)

Memastikan tipe data yang benar...
Memastikan tipe data yang benar...
Memastikan tipe data yang benar...
Memastikan tipe data yang benar...
Memastikan tipe data yang benar...
Memastikan tipe data yang benar...
Memastikan tipe data yang benar...
Memastikan tipe data yang benar...
Memastikan tipe data yang benar...
Memastikan tipe data yang benar...
Memastikan tipe data yang benar...
Memastikan tipe data yang benar...
Memastikan tipe data yang benar...
Memastikan tipe data yang benar...
Memastikan tipe data yang benar...
Memastikan tipe data yang benar...
['df_admins', 'df_customize_watering_reminders', 'df_notifications', 'df_plant_categories', 'df_plant_characteristics', 'df_plant_faqs', 'df_plant_images', 'df_plant_instruction_categories', 'df_plant_instructions', 'df_plant_progresses', 'df_plant_reminders', 'df_plants', 'df_user_plant_histories', 'df_user_plants', 'df_users', 'df_watering_histories']

### 3.3.1 Menampilkan Informasi Dataframe Kembali

In [508]:
for table in dataframes:
    df_variable_name = f"{table}"
    
    # Informasi DataFrame
    globals()[df_variable_name] = info_dataframe(globals()[df_variable_name])

Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4 non-null      int64
 1   name        4 non-null      category
 2   email       4 non-null      category
 3   password    4 non-null      category
 4   url_image   4 non-null      category
 5   created_at  4 non-null      datetime64[ns]
 6   updated_at  4 non-null      datetime64[ns]
dtypes: category(4), datetime64[ns](2), int64(1)
memory usage: 968.0 bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1 non-null      int64
 1   my_plant_id  1 non-null      int64
 2   time         1 non-null      category
 3   recurring    1 non-null      int64
 4   type         1 non-null      category
 5   created_at   1 non-null      datetime64[ns]
 6   updated_at   1 non-null      datetime64[ns]
dtypes: category(2), datetime64[ns](2), int64(3)
memory usage: 402.0 bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          2 non-null      int64
 1   title       2 non-null      category
 2   body        2 non-null      category
 3   user_id     2 non-null      int64
 4   is_read     2 non-null      int64
 5   created_at  2 non-null      datetime64[ns]
 6   updated_at  2 non-null      datetime64[ns]
 7   plant_id    2 non-null      int64
dtypes: category(2), datetime64[ns](2), int64(4)
memory usage: 476.0 bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          13 non-null     int64
 1   name        13 non-null     category
 2   image_url   13 non-null     category
 3   created_at  13 non-null     datetime64[ns]
 4   updated_at  13 non-null     datetime64[ns]
dtypes: category(2), datetime64[ns](2), int64(1)
memory usage: 1.7 KB
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           4 non-null      int64
 1   plant_id     4 non-null      int64
 2   height       4 non-null      int64
 3   height_unit  4 non-null      category
 4   wide         4 non-null      int64
 5   wide_unit    4 non-null      category
 6   leaf_color   4 non-null      category
dtypes: category(3), int64(4)
memory usage: 656.0 bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          5 non-null      int64
 1   plant_id    5 non-null      int64
 2   question    5 non-null      category
 3   answer      5 non-null      category
 4   created_at  5 non-null      datetime64[ns]
 5   updated_at  5 non-null      datetime64[ns]
dtypes: category(2), datetime64[ns](2), int64(2)
memory usage: 722.0 bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          6 non-null      int64
 1   plant_id    6 non-null      int64
 2   file_name   6 non-null      category
 3   is_primary  6 non-null      int64
 4   created_at  6 non-null      datetime64[ns]
 5   updated_at  6 non-null      datetime64[ns]
dtypes: category(1), datetime64[ns](2), int64(3)
memory usage: 594.0 bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           4 non-null      int64
 1   name         4 non-null      category
 2   description  4 non-null      category
 3   image_url    4 non-null      category
 4   created_at   4 non-null      datetime64[ns]
 5   updated_at   4 non-null      datetime64[ns]
dtypes: category(3), datetime64[ns](2), int64(1)
memory usage: 848.0 bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       6 non-null      int64
 1   plant_id                 6 non-null      int64
 2   step_number              6 non-null      int64
 3   step_title               6 non-null      category
 4   step_description         6 non-null      category
 5   step_image_url           6 non-null      category
 6   additional_tips          6 non-null      category
 7   created_at               6 non-null      datetime64[ns]
 8   updated_at               6 non-null      datetime64[ns]
 9   instruction_category_id  6 non-null      int64
dtypes: category(4), datetime64[ns](2), int64(4)
memory usage: 1.2 KB
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          2 non-null      int64
 1   plant_id    2 non-null      int64
 2   user_id     2 non-null      int64
 3   image_url   2 non-null      category
 4   created_at  2 non-null      datetime64[ns]
 5   updated_at  2 non-null      datetime64[ns]
dtypes: category(1), datetime64[ns](2), int64(3)
memory usage: 334.0 bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     4 non-null      int64
 1   plant_id               4 non-null      int64
 2   watering_frequency     4 non-null      int64
 3   each                   4 non-null      category
 4   watering_amount        4 non-null      int64
 5   unit                   4 non-null      category
 6   watering_time          4 non-null      category
 7   weather_condition      4 non-null      category
 8   condition_description  4 non-null      category
 9   created_at             4 non-null      datetime64[ns]
 10  updated_at             4 non-null      datetime64[ns]
dtypes: category(5), datetime64[ns](2), int64(4)
memory usage: 1.0 KB
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       4 non-null      int64
 1   name                     4 non-null      category
 2   description              4 non-null      category
 3   is_toxic                 4 non-null      int64
 4   harvest_duration         4 non-null      int64
 5   sunlight                 4 non-null      category
 6   planting_time            4 non-null      category
 7   plant_category_id        4 non-null      int64
 8   climate_condition        4 non-null      category
 9   plant_characteristic_id  4 non-null      int64
 10  created_at               4 non-null      datetime64[ns]
 11  updated_at               4 non-null      datetime64[ns]
 12  additional_tips          4 non-null      category
dtypes: category(6), datetime64[ns](2), int64(5)
memory usage: 1.3 KB
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               18 non-null     int64
 1   user_id          18 non-null     int64
 2   plant_id         18 non-null     int64
 3   plant_name       18 non-null     category
 4   plant_category   18 non-null     category
 5   plant_image_url  18 non-null     category
 6   created_at       18 non-null     datetime64[ns]
 7   updated_at       18 non-null     datetime64[ns]
dtypes: category(3), datetime64[ns](2), int64(3)
memory usage: 1.3 KB
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               5 non-null      int64
 1   user_id          5 non-null      int64
 2   plant_id         5 non-null      int64
 3   created_at       5 non-null      datetime64[ns]
 4   updated_at       5 non-null      datetime64[ns]
 5   last_watered_at  5 non-null      category
 6   customize_name   5 non-null      category
dtypes: category(2), datetime64[ns](2), int64(3)
memory usage: 586.0 bytes
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          19 non-null     int64
 1   name        19 non-null     category
 2   email       19 non-null     category
 3   password    19 non-null     category
 4   is_active   19 non-null     int64
 5   otp         19 non-null     category
 6   url_image   19 non-null     category
 7   created_at  19 non-null     datetime64[ns]
 8   updated_at  19 non-null     datetime64[ns]
 9   fcm_token   19 non-null     category
dtypes: category(6), datetime64[ns](2), int64(2)
memory usage: 4.1 KB
None
Menampilkan Informasi Field di tiap Dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          2 non-null      int64
 1   plant_id    2 non-null      int64
 2   user_id     2 non-null      int64
 3   created_at  2 non-null      datetime64[ns]
 4   updated_at  2 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(3)
memory usage: 208.0 bytes
None

### 3.3.2 Sample Dataframe

In [509]:
df_watering_histories

   id  plant_id  user_id created_at updated_at
0   4        46        3 2024-06-16 2024-06-16
1   5        46       14 2024-06-16 2024-06-16

## 3.4 Table Fakta &  Dimensional

### 3.4.1 Save to CSV Table Dimensional

In [510]:
dataframes

['df_admins',
 'df_customize_watering_reminders',
 'df_notifications',
 'df_plant_categories',
 'df_plant_characteristics',
 'df_plant_faqs',
 'df_plant_images',
 'df_plant_instruction_categories',
 'df_plant_instructions',
 'df_plant_progresses',
 'df_plant_reminders',
 'df_plants',
 'df_user_plant_histories',
 'df_user_plants',
 'df_users',
 'df_watering_histories']

In [511]:
output_dir = "../data_source_dimensional"

for table in tables:
    df_variable_name = f"df_{table}"
    
    csv_filename = os.path.join(output_dir, f"dim_{table}.csv")
    globals()[df_variable_name].to_csv(csv_filename, index=False)
    print(f"Menyimpan Dataframe Dimensional dari dataframe df_{table} ke {csv_filename} \n")

Menyimpan Dataframe Dimensional dari dataframe df_admins ke ../data_source_dimensional/dim_admins.csv

Menyimpan Dataframe Dimensional dari dataframe df_customize_watering_reminders ke ../data_source_dimensional/dim_customize_watering_reminders.csv

Menyimpan Dataframe Dimensional dari dataframe df_notifications ke ../data_source_dimensional/dim_notifications.csv

Menyimpan Dataframe Dimensional dari dataframe df_plant_categories ke ../data_source_dimensional/dim_plant_categories.csv

Menyimpan Dataframe Dimensional dari dataframe df_plant_characteristics ke ../data_source_dimensional/dim_plant_characteristics.csv

Menyimpan Dataframe Dimensional dari dataframe df_plant_faqs ke ../data_source_dimensional/dim_plant_faqs.csv

Menyimpan Dataframe Dimensional dari dataframe df_plant_images ke ../data_source_dimensional/dim_plant_images.csv

Menyimpan Dataframe Dimensional dari dataframe df_plant_instruction_categories ke ../data_source_dimensional/dim_plant_instruction_categories.csv

Menyimpan Dataframe Dimensional dari dataframe df_plant_instructions ke ../data_source_dimensional/dim_plant_instructions.csv

Menyimpan Dataframe Dimensional dari dataframe df_plant_progresses ke ../data_source_dimensional/dim_plant_progresses.csv

Menyimpan Dataframe Dimensional dari dataframe df_plant_reminders ke ../data_source_dimensional/dim_plant_reminders.csv

Menyimpan Dataframe Dimensional dari dataframe df_plants ke ../data_source_dimensional/dim_plants.csv

Menyimpan Dataframe Dimensional dari dataframe df_user_plant_histories ke ../data_source_dimensional/dim_user_plant_histories.csv

Menyimpan Dataframe Dimensional dari dataframe df_user_plants ke ../data_source_dimensional/dim_user_plants.csv

Menyimpan Dataframe Dimensional dari dataframe df_users ke ../data_source_dimensional/dim_users.csv

Menyimpan Dataframe Dimensional dari dataframe df_watering_histories ke ../data_source_dimensional/dim_watering_histories.csv

### 3.4.2 Dataframe Dimensional

In [512]:
# Path ke direktori yang berisi file CSV
input_dir = '../data_source_dimensional'

# List untuk menyimpan nama dataframe yang dibuat
dataframe_dimensional = []

# Loop untuk membaca semua file CSV dalam direktori
for filename in os.listdir(input_dir):
    if filename.endswith('.csv'):
        # Mengambil nama tabel dari nama file
        table_name = os.path.splitext(filename)[0]  # Menghilangkan ekstensi .csv
        
        # Membuat nama variabel dataframe
        df_variable_name = f"df_{table_name}"
        
        # Membaca file CSV menjadi dataframe
        df_path = os.path.join(input_dir, filename)
        globals()[df_variable_name] = pd.read_csv(df_path)
        
        # Tambahkan nama dataframe ke dalam list
        dataframe_dimensional.append(df_variable_name)

# Output untuk verifikasi
print(dataframe_dimensional)

['df_dim_notifications', 'df_dim_user_plant_histories', 'df_dim_plant_categories', 'df_dim_plant_instructions', 'df_dim_customize_watering_reminders', 'df_dim_watering_histories', 'df_dim_admins', 'df_dim_plant_faqs', 'df_dim_user_plants', 'df_dim_plant_characteristics', 'df_dim_plants', 'df_dim_users', 'df_dim_plant_instruction_categories', 'df_dim_plant_progresses', 'df_dim_plant_reminders', 'df_dim_plant_images']

In [513]:
dataframe_dimensional

['df_dim_notifications',
 'df_dim_user_plant_histories',
 'df_dim_plant_categories',
 'df_dim_plant_instructions',
 'df_dim_customize_watering_reminders',
 'df_dim_watering_histories',
 'df_dim_admins',
 'df_dim_plant_faqs',
 'df_dim_user_plants',
 'df_dim_plant_characteristics',
 'df_dim_plants',
 'df_dim_users',
 'df_dim_plant_instruction_categories',
 'df_dim_plant_progresses',
 'df_dim_plant_reminders',
 'df_dim_plant_images']

In [514]:
for dataframe in dataframe_dimensional:
    df_variable_name = f"{dataframe}"
    
    # Cleansing DataFrame
    globals()[df_variable_name] = cleanse_dataframe(globals()[df_variable_name])

Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Mengisi missing values di kolom 'step_image_url' dengan '-'...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Mengisi missing values di kolom 'url_image' dengan 0...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Mengisi missing values di kolom 'url_image' dengan 0...
Mengisi missing values di kolom 'fcm_token' dengan '-'...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0
Memeriksa missing values...
Memeriksa duplikasi...
Jumlah baris duplikat: 0

/tmp/ipykernel_756/2798709421.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna('-', inplace=True)
/tmp/ipykernel_756/2798709421.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(0, inplace=True)

In [515]:
df_dim_plants

,id,name,description,is_toxic,harvest_duration,sunlight,planting_time,plant_category_id,climate_condition,plant_characteristic_id,created_at,updated_at,additional_tips
0,46,Rose update,Rose is Flowers,1,90,Fullsun,Summer,1,Dry,0,2024-06-15,2024-06-15,Add tips instruction
1,55,asdasd-dsfdsdf,<p>asdasdsassd</p>,1,1,Fullsun,Summer,1,Dry,0,2024-06-16,2024-06-16,<p>fsdfsdddf</p>
2,59,asdaasd-sdasd,<p>asdasd</p>,1,3,Fullsun,Summer,1,Wet,0,2024-06-16,2024-06-16,<p>asdasdsdasd</p>
3,61,Rafflesia-Rafflesiaceae,<p>Bunga <strong>Langka</strong></p>,1,6,Partsun,Autumn,11,Wet,0,2024-06-17,2024-06-17,<p><strong><em><u>Tipsnya ya gituu</u></em></s...

### 3.4.3 Merged to Fact Table User Activities

#### 3.4.3.1 Merged dim_my_plants

In [516]:
df_dim_users.rename(columns={'id': 'user_id'}, inplace=True)
df_dim_users.rename(columns={'name': 'user_name'}, inplace=True)
df_dim_users

,user_id,user_name,email,password,is_active,otp,url_image,created_at,updated_at,fcm_token
0,3,Octaviano Ryan Eka Putra Hartanto,octavianoryan030@gmail.com,$2a$08$R9/7B15r6CgnfHhTEvW3o.qDQtB61Vmw2WxL8OQ...,1,986482,0.0,2024-05-28,2024-05-28,-
1,5,Setiabudi,mamansetiabudi12061982@gmail.com,$2a$08$ur/09YUT0MI2s5CvTcKNWOz29g73ZbaIaa7mdti...,1,364170,0.0,2024-06-04,2024-06-04,-
2,6,Aletha Safa,yellowblue@gmail.com,$2a$08$kRWcnKu27ojUmST7WqB17.OZYKI1En2MYHFVtMg...,0,486315,0.0,2024-06-05,2024-06-05,-
3,7,Valdimir Putin,kangkingkung79@gmail.com,$2a$08$8TlhkfNRNocMnI1RAs1gXuQXZomO1ILgP8vQVbn...,1,714585,0.0,2024-06-05,2024-06-05,092013
4,9,Aletha Safa,yellow3@gmail.com,$2a$08$0MeHpb3QgFnL51BfR7YZEu8MyBgs050e2K3plFL...,0,870521,0.0,2024-06-06,2024-06-06,092013
5,10,Aletha Safa,blue04@gmail.com,$2a$08$Y6QSW6XzuXdouaX7krSLEuYXimEGEhURjVBaAzp...,0,841146,0.0,2024-06-06,2024-06-06,092013
6,11,Aletha Safa,blue05@gmail.com,$2a$08$p2RCU3u8YgiHG8oiuPFcze2DYhAMXSYppX88bfW...,0,229096,0.0,2024-06-06,2024-06-06,092013
7,12,Aletha Safa,blue06@gmail.com,$2a$08$tqSwo4MtjhOFNYgmta8x3.2Esa4fnkEDFgK7SiH...,0,853420,0.0,2024-06-07,2024-06-07,092013
8,14,Dafa Aldian,dafaaldian155@gmail.com,$2a$08$igkmrN4.3Uwe8TjnX8uYhuKfhhKRc7QyQsGk0PN...,1,290925,0.0,2024-06-09,2024-06-09,fowtobnNSrGVOH_a3KOzMa:APA91bH9lp6Rbws3oI6Hngz...
9,15,Annisa,annisa@gmail.com,$2a$08$43fz/1GQXWmR7oEyDAW/6.3NIXE9jFD/dTyW12o...,0,122927,0.0,2024-06-09,2024-06-09,dI2YkfWPS0eEaTsSNfgDYZ:APA91bFYX3YZVIDzbad7_yR...
10,16,Annisa,nuranisaseptriza@gmail.com,$2a$08$QYxnM23KsjutYEr7kOWfH.hY3NvlEoet2OHeZmG...,0,584488,0.0,2024-06-09,2024-06-09,dI2YkfWPS0eEaTsSNfgDYZ:APA91bH-0Zt6ZGzDrs4jwQJ...
11,17,annisa,cachakim60@gmail.com,$2a$08$kM1OqaOqByL.cg3/1pQdf.mXL8m/YQtEKcdykb1...,1,391665,0.0,2024-06-09,2024-06-09,doJ88506SwG4QZEobLFgAX:APA91bEsTPBzttf6J4ZxMnG...
12,18,rizkyyy,rizkynugroho2901@gmail.com,$2a$08$w3ClYUy/0G5L3A2gybFqS.hqkfoBCpSkrBu75rt...,1,24697,0.0,2024-06-09,2024-06-09,fQIg2bhIQbOVMTJWYQqUZ2:APA91bEdgL-7T8PZufjo63Y...
13,19,rizky,not1ntrovert@gmail.com,$2a$08$zKvuMtZU28JAwAWGwtcNleACN7EdiHwa4DkEwz9...,0,446995,0.0,2024-06-10,2024-06-10,dH_c2I-PSiilsZsWbIqsvV:APA91bE4CJyKvFYT7XJ1pxb...
14,20,rizky,not1ntrovertfps@gmail.com,$2a$08$FoMZ.avhfDTfc4/mKSJQuObqKO/Swh3Bw6AJRgq...,1,149558,0.0,2024-06-10,2024-06-10,dH_c2I-PSiilsZsWbIqsvV:APA91bHYcZEhXgk-SJZQ-w0...
15,21,developer,gamerproind20@gmail.com,$2a$08$Wwh9yEcJs9og0IR8OELRseN1eJHSC1qmXJvUsZt...,1,122952,0.0,2024-06-12,2024-06-12,dH_c2I-PSiilsZsWbIqsvV:APA91bFSrvn1Ok1eYpAVUlp...
16,22,salkia,Salkiaagustien13@gmail.com,$2a$08$gyIVrruUitDWRMD6nE7NrOJT8S62LDrJwVjV.P1...,0,117431,0.0,2024-06-13,2024-06-13,enYsCpA4SyCfztWDhjcv1g:APA91bFDdtlOp9MifpsiTrc...
17,23,farhan,zuwiy10@gmail.com,$2a$08$XvDFeWb16T/AjcruuYALYO3SVddNmnCoDLhbfq3...,1,46197,0.0,2024-06-13,2024-06-13,dF9WdTr0QmmIPpYVbxLjZJ:APA91bECbPFLP9dFrsoDLH7...
18,24,salkia,agustiensalkia@gmail.com,$2a$08$aiLIq8RNH5Q0.MnLflhnguB3YRTW2v7e/SIRPVr...,0,345559,0.0,2024-06-16,2024-06-16,enYsCpA4SyCfztWDhjcv1g:APA91bG4ox9yyUzwYPn5-dc...

In [517]:
df_dim_plants.rename(columns={'id': 'plant_id'}, inplace=True)
df_dim_plants.rename(columns={'name': 'plant_name'}, inplace=True)
df_dim_plants

,plant_id,plant_name,description,is_toxic,harvest_duration,sunlight,planting_time,plant_category_id,climate_condition,plant_characteristic_id,created_at,updated_at,additional_tips
0,46,Rose update,Rose is Flowers,1,90,Fullsun,Summer,1,Dry,0,2024-06-15,2024-06-15,Add tips instruction
1,55,asdasd-dsfdsdf,<p>asdasdsassd</p>,1,1,Fullsun,Summer,1,Dry,0,2024-06-16,2024-06-16,<p>fsdfsdddf</p>
2,59,asdaasd-sdasd,<p>asdasd</p>,1,3,Fullsun,Summer,1,Wet,0,2024-06-16,2024-06-16,<p>asdasdsdasd</p>
3,61,Rafflesia-Rafflesiaceae,<p>Bunga <strong>Langka</strong></p>,1,6,Partsun,Autumn,11,Wet,0,2024-06-17,2024-06-17,<p><strong><em><u>Tipsnya ya gituu</u></em></s...

In [608]:
df_dim_user_plants

,id,user_id,plant_id,created_at,updated_at,last_watered_at,customize_name
0,109,17,46,2024-06-15,2024-06-15,-,Rose update
1,123,23,46,2024-06-16,2024-06-16,-,Rose update
2,133,14,55,2024-06-16,2024-06-16,-,asdasd-dsfdsdf
3,136,14,46,2024-06-16,2024-06-16,-,Rose update
4,137,3,46,2024-06-17,2024-06-17,-,-

In [519]:
# Melakukan merge dalam satu baris kode dengan suffixes untuk menghindari konflik kolom
df_dim_my_plants = df_user_plants.merge(df_dim_users, on='user_id', how='left', suffixes=('', '_user'))

# Memeriksa nama kolom setelah merge
print(df_dim_my_plants.columns)

Index(['id', 'user_id', 'plant_id', 'created_at', 'updated_at',
       'last_watered_at', 'customize_name', 'user_name', 'email', 'password',
       'is_active', 'otp', 'url_image', 'created_at_user', 'updated_at_user',
       'fcm_token'],
      dtype='object')

In [520]:
# Melakukan merge dalam satu baris kode dengan suffixes untuk menghindari konflik kolom
df_dim_my_plants = df_dim_my_plants.merge(df_dim_plants, on='plant_id', how='left', suffixes=('', '_plant'))

# Memeriksa nama kolom setelah merge
print(df_dim_my_plants.columns)

Index(['id', 'user_id', 'plant_id', 'created_at', 'updated_at',
       'last_watered_at', 'customize_name', 'user_name', 'email', 'password',
       'is_active', 'otp', 'url_image', 'created_at_user', 'updated_at_user',
       'fcm_token', 'plant_name', 'description', 'is_toxic',
       'harvest_duration', 'sunlight', 'planting_time', 'plant_category_id',
       'climate_condition', 'plant_characteristic_id', 'created_at_plant',
       'updated_at_plant', 'additional_tips'],
      dtype='object')

In [521]:
# Memilih kolom yang diinginkan
df_dim_my_plants = df_dim_my_plants[['id', 'user_name', 'plant_name', 'created_at', 'updated_at', 'last_watered_at']]
df_dim_my_plants

,id,user_name,plant_name,created_at,updated_at,last_watered_at
0,109,annisa,Rose update,2024-06-15,2024-06-15,-
1,123,farhan,Rose update,2024-06-16,2024-06-16,-
2,133,Dafa Aldian,asdasd-dsfdsdf,2024-06-16,2024-06-16,-
3,136,Dafa Aldian,Rose update,2024-06-16,2024-06-16,-
4,137,Octaviano Ryan Eka Putra Hartanto,Rose update,2024-06-17,2024-06-17,-

In [522]:
df_dim_my_plants.rename(columns={'id': 'my_plants_id'}, inplace=True)

In [523]:
df_dim_my_plants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   my_plants_id     5 non-null      int64
 1   user_name        5 non-null      object
 2   plant_name       5 non-null      object
 3   created_at       5 non-null      datetime64[ns]
 4   updated_at       5 non-null      datetime64[ns]
 5   last_watered_at  5 non-null      category
dtypes: category(1), datetime64[ns](2), int64(1), object(2)
memory usage: 449.0+ bytes

##### a. Save to CSV

In [524]:
df_dim_my_plants.to_csv('../data_source_to_load/dim_my_plants.csv', index=False)

#### 3.4.3.2 Merged dim_planting_histories

In [525]:
# Melakukan merge dalam satu baris kode dengan suffixes untuk menghindari konflik kolom
df_dim_user_plant_histories = df_dim_user_plant_histories.merge(
    df_dim_users, on='user_id', how='left', suffixes=('', '_user'))

# Memeriksa nama kolom setelah merge
print(df_dim_user_plant_histories.columns)

Index(['id', 'user_id', 'plant_id', 'plant_name', 'plant_category',
       'plant_image_url', 'created_at', 'updated_at', 'user_name', 'email',
       'password', 'is_active', 'otp', 'url_image', 'created_at_user',
       'updated_at_user', 'fcm_token'],
      dtype='object')

In [526]:
# Memilih kolom yang diinginkan
df_dim_user_plant_histories = df_dim_user_plant_histories[['id', 'user_name', 'plant_name', 'plant_category', 'created_at', 'updated_at']]
df_dim_user_plant_histories.rename(columns={'id': 'planting_histories_id'}, inplace=True)
df_dim_user_plant_histories

,planting_histories_id,user_name,plant_name,plant_category,created_at,updated_at
0,2,Octaviano Ryan Eka Putra Hartanto,Rose update,Fruits,2024-06-15,2024-06-15
1,3,Dafa Aldian,Rose update,Fruits,2024-06-16,2024-06-16
2,4,Dafa Aldian,asdasd-dsfdsdf,Fruits,2024-06-16,2024-06-16
3,5,Dafa Aldian,asdasd-dsfdsdf,Fruits,2024-06-16,2024-06-16
4,6,Dafa Aldian,Rose update,Fruits,2024-06-16,2024-06-16
5,7,Dafa Aldian,asdasd-dsfdsdf,Fruits,2024-06-16,2024-06-16
6,8,Dafa Aldian,asdaasd-sdasd,Fruits,2024-06-16,2024-06-16
7,9,Dafa Aldian,Rose update,Fruits,2024-06-16,2024-06-16
8,10,Dafa Aldian,asdasd-dsfdsdf,Fruits,2024-06-16,2024-06-16
9,11,Dafa Aldian,Rose update,Fruits,2024-06-16,2024-06-16
10,12,Dafa Aldian,asdasd-dsfdsdf,Fruits,2024-06-16,2024-06-16
11,13,Dafa Aldian,Rose update,Fruits,2024-06-16,2024-06-16
12,14,Dafa Aldian,Rose update,Fruits,2024-06-16,2024-06-16
13,15,Dafa Aldian,asdaasd-sdasd,Fruits,2024-06-16,2024-06-16
14,16,Dafa Aldian,asdasd-dsfdsdf,Fruits,2024-06-16,2024-06-16
15,17,rizkyyy,Rose update,Fruits,2024-06-16,2024-06-16
16,18,rizkyyy,asdasd-dsfdsdf,Fruits,2024-06-16,2024-06-16
17,19,Dafa Aldian,Rose update,Fruits,2024-06-16,2024-06-16

##### a. Save to CSV

In [527]:
df_dim_user_plant_histories.to_csv('../data_source_to_load/dim_planting_histories.csv', index=False)

#### 3.4.3.3 Merged dim_watering_histories

In [528]:
# Melakukan merge dalam satu baris kode dengan suffixes untuk menghindari konflik kolom
df_dim_watering_histories = df_watering_histories.merge(df_dim_users, on='user_id', how='left', suffixes=('', '_user')).merge(
    df_dim_plants, on='plant_id', how='left', suffixes=('', '_plant'))

df_dim_watering_histories = df_dim_watering_histories[['id', 'user_name', 'plant_name', 'created_at', 'updated_at']]
df_dim_watering_histories.rename(columns={'id': 'watering_histories_id'}, inplace=True)
df_dim_watering_histories

,watering_histories_id,user_name,plant_name,created_at,updated_at
0,4,Octaviano Ryan Eka Putra Hartanto,Rose update,2024-06-16,2024-06-16
1,5,Dafa Aldian,Rose update,2024-06-16,2024-06-16

##### a. Save to CSV

In [529]:
df_dim_watering_histories.to_csv('../data_source_to_load/dim_watering_histories.csv', index=False)

#### 3.4.3.4 dim_customize_watering_reminders

In [530]:
df_dim_customize_watering_reminders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1 non-null      int64
 1   my_plant_id  1 non-null      int64
 2   time         1 non-null      object
 3   recurring    1 non-null      int64
 4   type         1 non-null      object
 5   created_at   1 non-null      object
 6   updated_at   1 non-null      object
dtypes: int64(3), object(4)
memory usage: 184.0+ bytes

In [531]:
df_dim_customize_watering_reminders.rename(columns={'id': 'customize_watering_reminders_id'}, inplace=True)
df_dim_customize_watering_reminders.rename(columns={'my_plant_id': 'my_plants_id'}, inplace=True)
df_dim_customize_watering_reminders

,customize_watering_reminders_id,my_plants_id,time,recurring,type,created_at,updated_at
0,8,137,22:00,1,daily,2024-06-17,2024-06-17

##### a. Save to CSV

In [532]:
df_dim_customize_watering_reminders.to_csv('../data_source_to_load/dim_customize_watering_reminders.csv', index=False)

#### 3.4.3.5 Merged Final Fact Table User Activities

In [621]:
# Menggabungkan keseluruhan id dataframe kedalam Fact User Activites
df_fact_user_activities = pd.merge(df_dim_my_plants, df_dim_user_plant_histories,
                                   on=["user_name", "plant_name"], how='outer',
                                   suffixes=('_my_plants', '_planting'))

df_fact_user_activities = pd.merge(df_fact_user_activities, df_dim_watering_histories,
                                   on=["user_name", "plant_name"], how='outer',
                                   suffixes=('_fact', '_watering'))

df_fact_user_activities = df_fact_user_activities[['my_plants_id', 'planting_histories_id', 'watering_histories_id']]
df_fact_user_activities

    my_plants_id  planting_histories_id  watering_histories_id
0          136.0                    3.0                    5.0
1          136.0                    6.0                    5.0
2          136.0                    9.0                    5.0
3          136.0                   11.0                    5.0
4          136.0                   13.0                    5.0
5          136.0                   14.0                    5.0
6          136.0                   19.0                    5.0
7            NaN                    8.0                    NaN
8            NaN                   15.0                    NaN
9          133.0                    4.0                    NaN
10         133.0                    5.0                    NaN
11         133.0                    7.0                    NaN
12         133.0                   10.0                    NaN
13         133.0                   12.0                    NaN
14         133.0                   16.0                    NaN
15         137.0                    2.0                    4.0
16         109.0                    NaN                    NaN
17         123.0                    NaN                    NaN
18           NaN                   17.0                    NaN
19           NaN                   18.0                    NaN

In [622]:
df_fact_user_activities['watering_count'] = df_fact_user_activities['watering_histories_id'].nunique()
df_fact_user_activities['planting_count'] = df_fact_user_activities['planting_histories_id'].nunique()
df_fact_user_activities['user_plant_count'] = df_fact_user_activities['my_plants_id'].nunique()
df_fact_user_activities

,my_plants_id,planting_histories_id,watering_histories_id,watering_count,planting_count,user_plant_count
0,136.0,3.0,5.0,2,18,5
1,136.0,6.0,5.0,2,18,5
2,136.0,9.0,5.0,2,18,5
3,136.0,11.0,5.0,2,18,5
4,136.0,13.0,5.0,2,18,5
5,136.0,14.0,5.0,2,18,5
6,136.0,19.0,5.0,2,18,5
7,NaN,8.0,NaN,2,18,5
8,NaN,15.0,NaN,2,18,5
9,133.0,4.0,NaN,2,18,5
10,133.0,5.0,NaN,2,18,5
11,133.0,7.0,NaN,2,18,5
12,133.0,10.0,NaN,2,18,5
13,133.0,12.0,NaN,2,18,5
14,133.0,16.0,NaN,2,18,5
15,137.0,2.0,4.0,2,18,5
16,109.0,NaN,NaN,2,18,5
17,123.0,NaN,NaN,2,18,5
18,NaN,17.0,NaN,2,18,5
19,NaN,18.0,NaN,2,18,5

#### a. Change Type Data

In [623]:
cleanse_dataframe_fact(df_fact_user_activities)
change_type_data(df_fact_user_activities)
df_fact_user_activities

Memeriksa missing values...
Mengisi missing values di kolom 'my_plants_id' dengan -1...
Mengisi missing values di kolom 'planting_histories_id' dengan -1...
Mengisi missing values di kolom 'watering_histories_id' dengan -1...
Memastikan tipe data yang benar...

/tmp/ipykernel_756/3818586073.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(-1, inplace=True)

,my_plants_id,planting_histories_id,watering_histories_id,watering_count,planting_count,user_plant_count
0,136,3,5,2,18,5
1,136,6,5,2,18,5
2,136,9,5,2,18,5
3,136,11,5,2,18,5
4,136,13,5,2,18,5
5,136,14,5,2,18,5
6,136,19,5,2,18,5
7,-1,8,-1,2,18,5
8,-1,15,-1,2,18,5
9,133,4,-1,2,18,5
10,133,5,-1,2,18,5
11,133,7,-1,2,18,5
12,133,10,-1,2,18,5
13,133,12,-1,2,18,5
14,133,16,-1,2,18,5
15,137,2,4,2,18,5
16,109,-1,-1,2,18,5
17,123,-1,-1,2,18,5
18,-1,17,-1,2,18,5
19,-1,18,-1,2,18,5

##### b. Save to CSV

In [624]:
df_fact_user_activities.to_csv('../data_source_to_load/fact_user_activities.csv', index=False)

### 3.4.4 Merged to Fact Table Plants Data

#### 3.4.4.1 Merged dim_plants

In [533]:
df_dim_plants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   plant_id                 4 non-null      int64
 1   plant_name               4 non-null      object
 2   description              4 non-null      object
 3   is_toxic                 4 non-null      int64
 4   harvest_duration         4 non-null      int64
 5   sunlight                 4 non-null      object
 6   planting_time            4 non-null      object
 7   plant_category_id        4 non-null      int64
 8   climate_condition        4 non-null      object
 9   plant_characteristic_id  4 non-null      int64
 10  created_at               4 non-null      object
 11  updated_at               4 non-null      object
 12  additional_tips          4 non-null      object
dtypes: int64(5), object(8)
memory usage: 544.0+ bytes

In [534]:
df_dim_plants

,plant_id,plant_name,description,is_toxic,harvest_duration,sunlight,planting_time,plant_category_id,climate_condition,plant_characteristic_id,created_at,updated_at,additional_tips
0,46,Rose update,Rose is Flowers,1,90,Fullsun,Summer,1,Dry,0,2024-06-15,2024-06-15,Add tips instruction
1,55,asdasd-dsfdsdf,<p>asdasdsassd</p>,1,1,Fullsun,Summer,1,Dry,0,2024-06-16,2024-06-16,<p>fsdfsdddf</p>
2,59,asdaasd-sdasd,<p>asdasd</p>,1,3,Fullsun,Summer,1,Wet,0,2024-06-16,2024-06-16,<p>asdasdsdasd</p>
3,61,Rafflesia-Rafflesiaceae,<p>Bunga <strong>Langka</strong></p>,1,6,Partsun,Autumn,11,Wet,0,2024-06-17,2024-06-17,<p><strong><em><u>Tipsnya ya gituu</u></em></s...

In [535]:
df_dim_plant_categories.rename(columns={'id': 'plant_category_id'}, inplace=True)
df_dim_plant_categories.rename(columns={'name': 'plant_category'}, inplace=True)
df_dim_plant_categories

,plant_category_id,plant_category,image_url,created_at,updated_at
0,1,Fruits,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-05-30,2024-06-14
1,2,Succulents,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28,2024-06-14
2,4,Angiosperms,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28,2024-06-14
3,5,Herbs,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28,2024-06-14
4,7,Shrubs,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28,2024-06-14
5,8,Ferns,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-07,2024-06-14
6,9,Trees,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-07,2024-06-14
7,10,Climbers,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-14,2024-06-14
8,11,Conifers,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-14,2024-06-14
9,12,Annual,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-14,2024-06-14
10,13,Biennals,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-14,2024-06-14
11,14,Bryophytes,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-14,2024-06-14
12,15,Perennials,https://res.cloudinary.com/dxrz0cg5z/image/upl...,2024-06-14,2024-06-14

In [536]:
# Melakukan merge dalam satu baris kode dengan suffixes untuk menghindari konflik kolom
df_dim_plants = df_dim_plants.merge(
    df_dim_plant_categories, on='plant_category_id', how='left', suffixes=('', '_category'))

# Memeriksa nama kolom setelah merge
print(df_dim_plants.columns)

Index(['plant_id', 'plant_name', 'description', 'is_toxic', 'harvest_duration',
       'sunlight', 'planting_time', 'plant_category_id', 'climate_condition',
       'plant_characteristic_id', 'created_at', 'updated_at',
       'additional_tips', 'plant_category', 'image_url', 'created_at_category',
       'updated_at_category'],
      dtype='object')

In [537]:
df_dim_plants = df_dim_plants[['plant_id', 'plant_name', 'description', 'is_toxic', 'harvest_duration',
                            'sunlight', 'planting_time', 'plant_category', 'climate_condition',
                            'additional_tips', 'created_at', 'updated_at']]
df_dim_plants

,plant_id,plant_name,description,is_toxic,harvest_duration,sunlight,planting_time,plant_category,climate_condition,additional_tips,created_at,updated_at
0,46,Rose update,Rose is Flowers,1,90,Fullsun,Summer,Fruits,Dry,Add tips instruction,2024-06-15,2024-06-15
1,55,asdasd-dsfdsdf,<p>asdasdsassd</p>,1,1,Fullsun,Summer,Fruits,Dry,<p>fsdfsdddf</p>,2024-06-16,2024-06-16
2,59,asdaasd-sdasd,<p>asdasd</p>,1,3,Fullsun,Summer,Fruits,Wet,<p>asdasdsdasd</p>,2024-06-16,2024-06-16
3,61,Rafflesia-Rafflesiaceae,<p>Bunga <strong>Langka</strong></p>,1,6,Partsun,Autumn,Conifers,Wet,<p><strong><em><u>Tipsnya ya gituu</u></em></s...,2024-06-17,2024-06-17

##### a. Save to CSV

In [538]:
df_dim_plants.to_csv('../data_source_to_load/dim_plants.csv', index=False)

#### 3.4.4.2 dim_watering_reminders

In [539]:
df_dim_plant_reminders = df_dim_plant_reminders[['id', 'plant_id', 'watering_frequency', 'each', 'watering_amount',
       'unit', 'watering_time', 'weather_condition', 'condition_description',
       'created_at', 'updated_at']]
df_dim_plant_reminders

,id,plant_id,watering_frequency,each,watering_amount,unit,watering_time,weather_condition,condition_description,created_at,updated_at
0,46,46,7,days,500,ml,09:00,Sunny,Water early in the morning when it's sunny,2024-06-15,2024-06-15
1,55,55,1,Week,1,Milliliter (ml),12:00,Rainy,asdasdss,2024-06-16,2024-06-16
2,59,59,1,Day,1,Liter (l),12:00,Rainy,asdasdasdasd,2024-06-16,2024-06-16
3,61,61,5,Week,300,Liter (l),16:30,"Bright Sun,Rainy,Stormy Rain","Sun,Rainy,Stormy",2024-06-17,2024-06-17

In [540]:
df_dim_plant_reminders.rename(columns={'id': 'watering_reminders_id'}, inplace=True)
df_dim_watering_reminders = df_dim_plant_reminders
df_dim_watering_reminders

,watering_reminders_id,plant_id,watering_frequency,each,watering_amount,unit,watering_time,weather_condition,condition_description,created_at,updated_at
0,46,46,7,days,500,ml,09:00,Sunny,Water early in the morning when it's sunny,2024-06-15,2024-06-15
1,55,55,1,Week,1,Milliliter (ml),12:00,Rainy,asdasdss,2024-06-16,2024-06-16
2,59,59,1,Day,1,Liter (l),12:00,Rainy,asdasdasdasd,2024-06-16,2024-06-16
3,61,61,5,Week,300,Liter (l),16:30,"Bright Sun,Rainy,Stormy Rain","Sun,Rainy,Stormy",2024-06-17,2024-06-17

##### a. Merged to Fact Table Plants Data

In [541]:
# Menggabungkan kedua dataframe
df_fact_plants_data = pd.merge(df_dim_watering_reminders, df_dim_plants, left_on="plant_id", right_on="plant_id", suffixes=('_watering_reminders', '_plant'))

# Menampilkan hasil gabungan
df_fact_plants_data.columns

Index(['watering_reminders_id', 'plant_id', 'watering_frequency', 'each',
       'watering_amount', 'unit', 'watering_time', 'weather_condition',
       'condition_description', 'created_at_watering_reminders',
       'updated_at_watering_reminders', 'plant_name', 'description',
       'is_toxic', 'harvest_duration', 'sunlight', 'planting_time',
       'plant_category', 'climate_condition', 'additional_tips',
       'created_at_plant', 'updated_at_plant'],
      dtype='object')

In [542]:
df_fact_plants_data = df_fact_plants_data[['plant_id', 'watering_reminders_id']]
df_fact_plants_data

   plant_id  watering_reminders_id
0        46                     46
1        55                     55
2        59                     59
3        61                     61

##### b. Save to CSV

In [543]:
df_dim_plant_reminders = df_dim_plant_reminders[['watering_reminders_id', 'watering_frequency', 'each', 'watering_amount',
       'unit', 'watering_time', 'weather_condition', 'condition_description',
       'created_at', 'updated_at']]
df_dim_plant_reminders

,watering_reminders_id,watering_frequency,each,watering_amount,unit,watering_time,weather_condition,condition_description,created_at,updated_at
0,46,7,days,500,ml,09:00,Sunny,Water early in the morning when it's sunny,2024-06-15,2024-06-15
1,55,1,Week,1,Milliliter (ml),12:00,Rainy,asdasdss,2024-06-16,2024-06-16
2,59,1,Day,1,Liter (l),12:00,Rainy,asdasdasdasd,2024-06-16,2024-06-16
3,61,5,Week,300,Liter (l),16:30,"Bright Sun,Rainy,Stormy Rain","Sun,Rainy,Stormy",2024-06-17,2024-06-17

In [544]:
df_dim_watering_reminders.to_csv('../data_source_to_load/dim_watering_reminders.csv', index=False)

#### 3.4.4.3 dim_plant_faqs

In [545]:
df_dim_plant_faqs

,id,plant_id,question,answer,created_at,updated_at
0,61,46,Question 1,Answer 1,2024-06-15,2024-06-15
1,62,46,Question 2,Answer 2,2024-06-15,2024-06-15
2,69,55,<p>sdfsdfdd</p>,<p>sdfasdaaaaa</p>,2024-06-16,2024-06-16
3,73,59,<p>asdasdasd</p>,<p>asdassss</p>,2024-06-16,2024-06-16
4,76,61,<p><em>Mau tanya apa</em></p>,<p><em><u>Ya gatauu?</u></em></p>,2024-06-17,2024-06-17

In [546]:
df_dim_plant_faqs.rename(columns={'id': 'plant_faqs_id'}, inplace=True)
df_dim_plant_faqs

,plant_faqs_id,plant_id,question,answer,created_at,updated_at
0,61,46,Question 1,Answer 1,2024-06-15,2024-06-15
1,62,46,Question 2,Answer 2,2024-06-15,2024-06-15
2,69,55,<p>sdfsdfdd</p>,<p>sdfasdaaaaa</p>,2024-06-16,2024-06-16
3,73,59,<p>asdasdasd</p>,<p>asdassss</p>,2024-06-16,2024-06-16
4,76,61,<p><em>Mau tanya apa</em></p>,<p><em><u>Ya gatauu?</u></em></p>,2024-06-17,2024-06-17

##### a. Merged to Fact Table Plants Data

In [547]:
# Menggabungkan kedua dataframe
df_fact_plants_data = pd.merge(df_dim_plant_faqs, df_fact_plants_data, left_on="plant_id", right_on="plant_id", suffixes=('_faqs', '_fact'))

# Menampilkan hasil gabungan
df_fact_plants_data.columns

Index(['plant_faqs_id', 'plant_id', 'question', 'answer', 'created_at',
       'updated_at', 'watering_reminders_id'],
      dtype='object')

In [548]:
df_fact_plants_data = df_fact_plants_data[['plant_id', 'plant_faqs_id', 'watering_reminders_id']]
df_fact_plants_data

   plant_id  plant_faqs_id  watering_reminders_id
0        46             61                     46
1        46             62                     46
2        55             69                     55
3        59             73                     59
4        61             76                     61

##### b. Save to CSV

In [549]:
df_dim_plant_faqs = df_dim_plant_faqs[['plant_faqs_id', 'question', 'answer',
       'created_at', 'updated_at']]
df_dim_plant_faqs

,plant_faqs_id,question,answer,created_at,updated_at
0,61,Question 1,Answer 1,2024-06-15,2024-06-15
1,62,Question 2,Answer 2,2024-06-15,2024-06-15
2,69,<p>sdfsdfdd</p>,<p>sdfasdaaaaa</p>,2024-06-16,2024-06-16
3,73,<p>asdasdasd</p>,<p>asdassss</p>,2024-06-16,2024-06-16
4,76,<p><em>Mau tanya apa</em></p>,<p><em><u>Ya gatauu?</u></em></p>,2024-06-17,2024-06-17

In [550]:
df_dim_plant_faqs.to_csv('../data_source_to_load/dim_plant_faqs.csv', index=False)

#### 3.4.4.4 dim_plant_instructions

In [551]:
df_dim_plant_instructions

,id,plant_id,step_number,step_title,step_description,step_image_url,additional_tips,created_at,updated_at,instruction_category_id
0,68,46,1,Instruction 1,Description of Instruction 1,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-15,2024-06-15,1
1,69,46,2,Instruction 2,Description of Instruction 2,-,-,2024-06-15,2024-06-15,2
2,81,55,1,asdasd,<p>asdasdsd</p>,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-16,2024-06-16,2
3,82,55,2,dsffdsfsdf,<p>sdasdasd</p>,-,-,2024-06-16,2024-06-16,3
4,89,59,1,asdasdas,<p>asdasdasd</p>,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-16,2024-06-16,2
5,92,61,1,Apaya,<p><u>enaknya apa</u></p>,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-17,2024-06-17,3

In [552]:
df_dim_plant_instructions.rename(columns={'id': 'plant_instructions_id'}, inplace=True)
df_dim_plant_instructions

,plant_instructions_id,plant_id,step_number,step_title,step_description,step_image_url,additional_tips,created_at,updated_at,instruction_category_id
0,68,46,1,Instruction 1,Description of Instruction 1,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-15,2024-06-15,1
1,69,46,2,Instruction 2,Description of Instruction 2,-,-,2024-06-15,2024-06-15,2
2,81,55,1,asdasd,<p>asdasdsd</p>,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-16,2024-06-16,2
3,82,55,2,dsffdsfsdf,<p>sdasdasd</p>,-,-,2024-06-16,2024-06-16,3
4,89,59,1,asdasdas,<p>asdasdasd</p>,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-16,2024-06-16,2
5,92,61,1,Apaya,<p><u>enaknya apa</u></p>,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-17,2024-06-17,3

In [553]:
df_dim_plant_instruction_categories.rename(columns={'id': 'instruction_category_id'}, inplace=True)
df_dim_plant_instruction_categories

,instruction_category_id,name,description,image_url,created_at,updated_at
0,1,Soil Preparation,"In this section, you will learn how to properl...",https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28,2024-06-14
1,2,Planting Seeds,"At this stage, you will learn how to properly ...",https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28,2024-06-14
2,3,Plant Care,"In this section, you will learn how to properl...",https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28,2024-06-14
3,4,Harvest,"At this stage, you will learn how to harvest p...",https://res.cloudinary.com/dxrz0cg5z/image/upl...,2023-05-28,2024-06-14

In [554]:
# Melakukan merge dalam satu baris kode dengan suffixes untuk menghindari konflik kolom
df_dim_plant_instructions = df_dim_plant_instructions.merge(
    df_dim_plant_instruction_categories, on='instruction_category_id', how='left', suffixes=('', '_category'))

# Memeriksa nama kolom setelah merge
print(df_dim_plant_instructions.columns)

Index(['plant_instructions_id', 'plant_id', 'step_number', 'step_title',
       'step_description', 'step_image_url', 'additional_tips', 'created_at',
       'updated_at', 'instruction_category_id', 'name', 'description',
       'image_url', 'created_at_category', 'updated_at_category'],
      dtype='object')

In [555]:
df_dim_plant_instructions = df_dim_plant_instructions[['plant_instructions_id', 'name', 'plant_id', 'step_number', 'step_title',
       'step_description', 'step_image_url', 'additional_tips', 'created_at',
       'updated_at']]

df_dim_plant_instructions.rename(columns={'name': 'name_instruction_categories'}, inplace=True)

df_dim_plant_instructions

,plant_instructions_id,name_instruction_categories,plant_id,step_number,step_title,step_description,step_image_url,additional_tips,created_at,updated_at
0,68,Soil Preparation,46,1,Instruction 1,Description of Instruction 1,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-15,2024-06-15
1,69,Planting Seeds,46,2,Instruction 2,Description of Instruction 2,-,-,2024-06-15,2024-06-15
2,81,Planting Seeds,55,1,asdasd,<p>asdasdsd</p>,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-16,2024-06-16
3,82,Plant Care,55,2,dsffdsfsdf,<p>sdasdasd</p>,-,-,2024-06-16,2024-06-16
4,89,Planting Seeds,59,1,asdasdas,<p>asdasdasd</p>,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-16,2024-06-16
5,92,Plant Care,61,1,Apaya,<p><u>enaknya apa</u></p>,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-17,2024-06-17

##### a. Merged to Fact Table Plants Data

In [556]:
# Menggabungkan kedua dataframe
df_fact_plants_data = pd.merge(df_dim_plant_instructions, df_fact_plants_data, left_on="plant_id", 
                               right_on="plant_id", suffixes=('_instructions', '_fact'))

# Menampilkan hasil gabungan
df_fact_plants_data.columns

Index(['plant_instructions_id', 'name_instruction_categories', 'plant_id',
       'step_number', 'step_title', 'step_description', 'step_image_url',
       'additional_tips', 'created_at', 'updated_at', 'plant_faqs_id',
       'watering_reminders_id'],
      dtype='object')

In [557]:
df_fact_plants_data = df_fact_plants_data[['plant_id', 'plant_faqs_id', 'plant_instructions_id', 'watering_reminders_id']]

df_fact_plants_data

   plant_id  plant_faqs_id  plant_instructions_id  watering_reminders_id
0        46             61                     68                     46
1        46             62                     68                     46
2        46             61                     69                     46
3        46             62                     69                     46
4        55             69                     81                     55
5        55             69                     82                     55
6        59             73                     89                     59
7        61             76                     92                     61

##### b. Save to CSV

In [558]:
df_dim_plant_instructions = df_dim_plant_instructions[['plant_instructions_id', 'step_number', 'step_title',
       'step_description', 'step_image_url', 'additional_tips', 'created_at',
       'updated_at']]
df_dim_plant_instructions

,plant_instructions_id,step_number,step_title,step_description,step_image_url,additional_tips,created_at,updated_at
0,68,1,Instruction 1,Description of Instruction 1,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-15,2024-06-15
1,69,2,Instruction 2,Description of Instruction 2,-,-,2024-06-15,2024-06-15
2,81,1,asdasd,<p>asdasdsd</p>,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-16,2024-06-16
3,82,2,dsffdsfsdf,<p>sdasdasd</p>,-,-,2024-06-16,2024-06-16
4,89,1,asdasdas,<p>asdasdasd</p>,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-16,2024-06-16
5,92,1,Apaya,<p><u>enaknya apa</u></p>,https://res.cloudinary.com/dxrz0cg5z/image/upl...,-,2024-06-17,2024-06-17

In [567]:
df_dim_plant_instructions.to_csv('../data_source_to_load/dim_plant_instructions.csv', index=False)

#### 3.4.4.5 dim_plant_characteristics

In [560]:
df_dim_plant_characteristics

   id  plant_id  height height_unit  wide   wide_unit leaf_color
0  46        46     100  centimeter     5  centimeter      Green
1  55        55       1  Centimeter     1       Meter      Green
2  59        59       1  Centimeter     1       Meter      Green
3  61        61       3       Meter   300  Centimeter        Red

In [562]:
df_dim_plant_characteristics.rename(columns={'id': 'plant_characteristic_id'}, inplace=True)
df_dim_plant_characteristics

,plant_characteristic_id,plant_id,height,height_unit,wide,wide_unit,leaf_color
0,46,46,100,centimeter,5,centimeter,Green
1,55,55,1,Centimeter,1,Meter,Green
2,59,59,1,Centimeter,1,Meter,Green
3,61,61,3,Meter,300,Centimeter,Red

##### a. Merged to Fact Table Plants Data

In [563]:
# Menggabungkan kedua dataframe
df_fact_plants_data = pd.merge(df_dim_plant_characteristics, df_fact_plants_data, left_on="plant_id", 
                               right_on="plant_id", suffixes=('_characteristics', '_fact'))

# Menampilkan hasil gabungan
df_fact_plants_data.columns

Index(['plant_characteristic_id', 'plant_id', 'height', 'height_unit', 'wide',
       'wide_unit', 'leaf_color', 'plant_faqs_id', 'plant_instructions_id',
       'watering_reminders_id'],
      dtype='object')

In [564]:
df_fact_plants_data = df_fact_plants_data[['plant_id', 'plant_faqs_id', 'plant_characteristic_id', 'plant_instructions_id', 'watering_reminders_id']]

df_fact_plants_data

,plant_id,plant_faqs_id,plant_characteristic_id,plant_instructions_id,watering_reminders_id
0,46,61,46,68,46
1,46,62,46,68,46
2,46,61,46,69,46
3,46,62,46,69,46
4,55,69,55,81,55
5,55,69,55,82,55
6,59,73,59,89,59
7,61,76,61,92,61

##### b. Save to CSV

In [565]:
df_dim_plant_characteristics = df_dim_plant_characteristics[['plant_characteristic_id', 'height', 'height_unit', 'wide',
       'wide_unit', 'leaf_color']]

df_dim_plant_characteristics

   plant_characteristic_id  height height_unit  wide   wide_unit leaf_color
0                       46     100  centimeter     5  centimeter      Green
1                       55       1  Centimeter     1       Meter      Green
2                       59       1  Centimeter     1       Meter      Green
3                       61       3       Meter   300  Centimeter        Red

In [568]:
df_dim_plant_characteristics.to_csv('../data_source_to_load/dim_plant_characteristics.csv', index=False)

#### 3.4.4.6 dim_fertilizer

##### a. Merged to Fact Table Plants Data

##### b. Save to CSV

#### 3.4.4.7 Merged Fact Table Plants Data Final

In [570]:
# Menghitung total_plants
df_fact_plants_data['total_plants'] = df_fact_plants_data['plant_id'].nunique()
df_fact_plants_data

,plant_id,plant_faqs_id,plant_characteristic_id,plant_instructions_id,watering_reminders_id,total_plants
0,46,61,46,68,46,4
1,46,62,46,68,46,4
2,46,61,46,69,46,4
3,46,62,46,69,46,4
4,55,69,55,81,55,4
5,55,69,55,82,55,4
6,59,73,59,89,59,4
7,61,76,61,92,61,4

# 4. Load